
<div class="container-fluid">
  <p></p>
  <div class="row">
      <div class="col-2">
          <span class="border border-primary">
              <h2>Sun Travels</h2>
          </span>
  
        </div>
    <div class="divider-horizontal">
        
    </div>
    <div class="col">
      <table class="table" ng-deselect>
        <thead class="thead-dark">
        <tr class="clickable-row">
          <th scope="col">#</th>
          <th scope="col">Hotel Name</th>
          <th scope="col">City</th>
          <th scope="col">Country</th>
          <th scope="col">Star Rate</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hotel of hotelList; let i =index" (click)="hotelRowClick(i)" [class.active]="i == selectedRow">
          <th scope="col"></th>
          <td>
           {{hotel.name}} 
          </td>
          <td>
            {{hotel.city}}
          </td>
          <td>
            {{hotel.country}}
          </td>
          <td>
            {{hotel.starRate}}
          </td>
        </tr>
    
        </tbody>
      </table>
    </div>
  </div>

  <div class = 'row'>
 <div class='col'>
   <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-primary" (click)="hoteAdd()" >Add</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deteleConfirmationModal" >Delete</button>
            <div class="divider"></div>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
 </div>
  </div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deteleConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)=hotelDelete(selectedRow) data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>


</div>


